
<%- include('../partials/header.ejs') %>
<style>
	
.fr-dib {
  width: 100%!important;
  height: auto;
}
</style>
<style>
    .blog-card {
      width: 90%;
      background-color: #fff;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s, box-shadow 0.3s;
      display: flex;
      flex-direction: column;
      justify-content: center;
	    align-items: center;
		margin: 20px auto;
    }

    .blog-card:hover {
      transform: translateY(-5px);
      box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
    }

    .blog-card img {
      width: 100%;
      height: auto;
    }

    .blog-card-content {
      padding: 10px 15px 15px 15px;
      position: relative;
    }

    .blog-card-heading {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }


    .see-more-button {
      display: inline-block;
      padding: 5px 20px;
	  margin-top: 10px;
      background-color: #0a1c30;
      color: #fff!important;
      border: none;
	  font-size: 15px;
      border-radius: 5px;
      text-decoration: none;
      transition: background-color 0.3s;
    }

    .see-more-button:hover {
      background-color: #0056b3;
    }
  </style>
  


<section class="top-nav">
		<div><h4><%= title %></h4></div>
	 
	 <img src="https://www.issb-bd.org/imgs/logonew.png" id="top-nav-icon-issb">
	</section>



<br><br><br>


		
<% content.forEach(function(data) { %>

<div class="blog-card">
	<%- data.question %>
	<div class="blog-card-content">
		<% data.option.forEach(function(option) { %>
			
	  <h2 class="blog-card-heading"><%- option %></h2>
	  <% }) %>
	  <div class="main-card">
	  <%- data.explanation %>
	</div>
	  <a href="/issb/card_content/details?type=<%= type %>&id=<%= data._id %>" class="see-more-button">See More</a>
	</div>
  </div>
  <% }) %>




<br><br><br>

				
<script>
	document.addEventListener('DOMContentLoaded', function() {
		var mainCard = document.querySelector('.main-card');
		var children = mainCard.children;

		// Show the first child, hide the rest
		for (var i = 0; i < children.length; i++) {
			if (i === 0) {
				children[i].style.display = 'block'; // Show the first child
			} else {
				children[i].style.display = 'none'; // Hide other children
			}
		}
	});
</script>
<style>
	.main-card > p:not(:first-child) {
		display: none;
	}
</style>



<div id="floatingMenu">
	<ul>
		<li><a href="/issb/practiceppdt?type=<%= type %>&text_type=Bangla"><i class="fa-regular fa-circle-play"></i>Bangla</a></li>
		<li><a href="/issb/practiceppdt?type=<%= type %>&text_type=English"><i class="fa-regular fa-circle-play"></i>English</a></li>
	</ul>
</div>

    <div id="menuicon">
        <i class="fa-solid fa-list-ol"></i>
    </div>

	
	<div class="pagination">
		<% if (currentPage > 1) { %>
		  <p><a href="/issb/practiceppdt?type=<%= type %>&text_type=<%= text_type %>&page=<%= currentPage - 1 %>">Prev</a></p>
		<% } %>
	  
		<% for (let i = Math.max(currentPage - 5, 1); i <= Math.min(currentPage + 5, totalPages); i++) { %>
		  <% if (i === currentPage) { %>
		  <p class="pagination-active" ><span><%= i %></span></p>
		  <% } else { %>
		  <p><a href="/issb/practiceppdt?type=<%= type %>&text_type=<%= text_type %>&page=<%= i %>"><%= i %></a></p>
		  <% } %>
		<% } %>
	  
		<% if (currentPage < totalPages) { %>
		<p><a href="/issb/practiceppdt?type=<%= type %>&text_type=<%= text_type %>&page=<%= currentPage + 1 %>">Next</a></p>
		<% } %>
	  </div>
<br><br><br>





<%- include('../partials/bottom-nav.ejs') %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
	$(document).ready(function () {
	  // When #menuicon is clicked
	  $("#menuicon").click(function (e) {
		e.stopPropagation(); // Prevent the click event from reaching the document
  
		// Toggle fadeIn and fadeOut for #floatingMenu
		$("#floatingMenu").fadeToggle("fast");
	  });
  
	  // Close the #floatingMenu when clicking outside of it
	  $(document).click(function (e) {
		if (!$("#floatingMenu").is(e.target) && $("#floatingMenu").has(e.target).length === 0) {
		  $("#floatingMenu").fadeOut("fast");
		}
	  });
	});
  </script>

