
<%- include('../partials/header.ejs') %>

  

  <%- include('../partials/header.ejs') %>
  <style>
	  
  .fr-dii {
	width: 100%!important;
	height: auto;
  }

	 .blog-card {
	  display: flex;
	  flex-direction: column;
	  border: 1px solid #ccc;
	  margin: 10px auto;
	  width: 95%;
      background-color: #fff;
      border-radius: 5px;
      overflow: hidden;
	  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  }
  
  .blog-card-heading-container {
	  background-color: #f0f0f0;
	  padding: 10px;
  }
  
  .blog-card-content {
	  padding: 20px;

  }

  .blog-card-heading {
	  margin: 0;
	  font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
  }
  
  .see-more-button {
	  display: inline-block;
	  margin-top: 10px;
	  text-decoration: none;
	  background-color: #35084d;
	  color: #fff!important;
	  padding: 5px 15px;
	  border-radius: 5px;
  }
  
  .main-card {
	  margin-top: 10px;
	  font-family: "SolaimanLipi", Arial, sans-serif!important;

  }
  .see-more-button:hover {
      background-color: #270c5c;
    }

	.active{
	background-color: rgb(231, 231, 231);
	color: black;
}
	</style>
	
  
  
  <section class="top-nav">
		  <div><h4><%= title %></h4></div>
	   
	   <img src="https://www.issb-bd.org/imgs/logonew.png" id="top-nav-icon-issb">
	  </section>
  
  
  
  <br><br><br>
  
  
		  
  <% content.forEach(function(data) { %>
  
  <div class="blog-card">
	<a href="/issb/card_content/details?type=<%= type %>&id=<%= data._id %>&text_type=<%= text_type %>" >
	  <%- data.question %>
	  <div class="blog-card-content">
		  <% data.option.forEach(function(option) { %>
			  
		<h1 class="blog-card-heading"><%- option %></h1>
		<% }) %>
		<div class="main-card">
		<%- data.explanation %>
	  </div>
		<div class="see-more-button">See More</div>
	  </div>
	</a>
	</div>
	<% }) %>
  
  
  
  
  <br><br><br>
  
				  
  <script>
  // Get the first paragraph and its text content
  var mainCard = document.querySelector('.main-card');
  var firstParagraph = mainCard.querySelector('p');
  var content = firstParagraph.textContent.trim();
  
  // Show only the first 10 words
  var words = content.split(/\s+/);
  var first10Words = words.slice(0, 30).join(' ');
  
  // Add "..." if there are more than 10 words
  if (words.length > 30) {
	first10Words += '........';
  }
  
  // Update the paragraph text
  firstParagraph.textContent = first10Words;
  
  // Remove all child elements from main-card except the first paragraph
  while (mainCard.children.length > 1) {
	mainCard.removeChild(mainCard.lastChild);
  }
  
  
  </script>
  
  
  
  <div id="floatingMenu">
	<ul>
	  <li class="<%= text_type === 'Bangla' ? 'active' : '' %>" >
		<a href="/issb/practiceppdt?type=<%= type %>&text_type=Bangla" >
		  <i class="fa-regular fa-circle-play"></i>Bangla
		</a>
	  </li>
	  <li class="<%= text_type === 'English' ? 'active' : '' %>">
		<a href="/issb/practiceppdt?type=<%= type %>&text_type=English" >
		  <i class="fa-regular fa-circle-play"></i>English
		</a>
	  </li>
	</ul>
  </div>
  
  
  <% if (title !== 'Extempore Speech' && title !== 'Planning Exercise') { %>
	<div id="menuicon">
	  <i class="fa-solid fa-list-ol"></i>
	</div>
  <% } %>
  
	  <div class="pagination">
		  <% if (currentPage > 1) { %>
			<p><a href="/issb/practiceppdt?type=<%= type %>&text_type=<%= text_type %>&page=<%= currentPage - 1 %>">Prev</a></p>
		  <% } %>
		
		  <% for (let i = Math.max(currentPage - 5, 1); i <= Math.min(currentPage + 5, totalPages); i++) { %>
			<% if (i === currentPage) { %>
			<p class="pagination-active" ><span><%= i %></span></p>
			<% } else { %>
			<p><a href="/issb/practiceppdt?type=<%= type %>&text_type=<%= text_type %>&page=<%= i %>"><%= i %></a></p>
			<% } %>
		  <% } %>
		
		  <% if (currentPage < totalPages) { %>
		  <p><a href="/issb/practiceppdt?type=<%= type %>&text_type=<%= text_type %>&page=<%= currentPage + 1 %>">Next</a></p>
		  <% } %>
		</div>
  <br><br><br>
  
  
  
  
  
  <%- include('../partials/bottom-nav.ejs') %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
  
  <script>
	  $(document).ready(function () {
		// When #menuicon is clicked
		$("#menuicon").click(function (e) {
		  e.stopPropagation(); // Prevent the click event from reaching the document
	
		  // Toggle fadeIn and fadeOut for #floatingMenu
		  $("#floatingMenu").fadeToggle("fast");
		});
	
		// Close the #floatingMenu when clicking outside of it
		$(document).click(function (e) {
		  if (!$("#floatingMenu").is(e.target) && $("#floatingMenu").has(e.target).length === 0) {
			$("#floatingMenu").fadeOut("fast");
		  }
		});
	  });
	</script>
  
  