<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ISSB SCHOOL BANGLADESH</title>
    <link rel="stylesheet" href="/css/style.css" />

    <!-- Compiled and minified JavaScript -->

    <link
      href="https://fonts.maateen.me/solaiman-lipi/font.css"
      rel="stylesheet"
    />

    <!-- 9420 eii logota ekhn theke change korte hbe kaorn issb er logo  -->
    <link
      rel="shortcut icon"
      href="https://issb-bd.org/imgs/logonew.png"
      type="image/x-icon"
    />
    <!-- fontawesome link kora hoies kintu janina minified kina -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/regular.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/regular.min.css"
    />
  </head>
  <body>

	<section class="top-nav">
		<div><h4><%= title %></h4></div>
	 <img src="https://th.bing.com/th/id/R.23ca2f3fbf7e19a1e85cd9d556d5ffaf?rik=uoFjTlg8g%2bIkqw&pid=ImgRaw&r=0" id="top-nav-icon-issb">
	</section><br><br><br>

	<section class="iqlist-container">
		
     
 

		<div class="list-items">
			<% for (const key in content) { %>
			<div class="list-item">
				
				<div class="align-list"><span class="list-count"><i class="fa-solid fa-brain"></i></span><span class="name"><%= key %></span>
         <div class="free-exam"> 
				<span class="startbutton show-modal" data-exam-code="<%= content[key] %>" data-exam-name="<%= key %>"   data-time="<%= time %>" data-marks="<%= examMarks %>" >Start</span>
      </div>
      </div>
			</div>
			
      <% } %>
		</div>
		

	</section>

 <!-- bottom nagivatoin section  -->
 <%- include('../partials/bottom-nav.ejs') %>
<div class="modal-section">
	<div class="modal">
	 <div class="instruction">
	 <h3 class="exam-name" style="text-align: center;"></h3>
	 <p class="marks"></p>
	 <p class="time"></p>
	</div>
<div class="practice-exam">
	<a href="" class="practice-link">Practice</a>
	<a href="" class="exam-link">Exam</a>
</div>	
</div>

</div>

<style>
  .modal-poster {
  background-color: #ffffff;
  display: none;
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100%;
  margin: 0px auto;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 133330;
  box-shadow: 0 0 0 99999px rgb(0 0 0 / 70%);
  text-align: center;
}

.modal-poster > img{
 border-radius:10px;
 margin-bottom:10px!important;
 
}
.buy-btn{
 background:rgb(141, 71, 255);
 color:white!important;
 padding: 5px 30px;
 border-radius:5px;
 text-align:center;
 margin-bottom: 30px!important;
 position: relative;
 bottom:15px;
 
}

</style>

<div class="modal-section">
	<div class="modal-poster">
    <img src="https://static.youthop.com/uploads/sites/2/2019/11/new-fi-01-19-1038x542-1038x542.jpg" width="100%" alt="">
    <p>কোর্সটি কিনে নিলে সব গুলো প্রিমিয়াম ফিচার ব্যাবহারের সুযোগ পাবেন।</p>
    <br>
	<a href="/course-details/3" class="buy-btn">Enroll Now</a>
  <br>
</div>	
</div>

</div>
  </body>
  <br><br><br>
  <script src="./script.js"></script>
  <!-- Jquery Cnd minified -->
	<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script>
let modal = $('.modal');
$(document).on('click', '.Yes', function() {
  let examCode = $(this).data('exam-code'); // Get the value of data-id attribute
  $('.modal .exam-code').text(examCode);
  $('.modal .practice-link').attr('href', '/issb/verbal/'+examCode+'/practice'); 
  $('.modal .exam-link').attr('href', '/issb/verbal/'+examCode+'/exam');

  let examName = $(this).data('exam-name'); // Get the value of data-id attribute
  $('.modal .exam-name').text(examName);
  let instruction = $(this).closest('div').find('pre').text();  // Get the value of data-id attribute
  $('.modal .instructions').text(instruction);
  let time = $(this).data('time'); // Get the value of data-id attribute
  $('.modal .time').text('Duration- '+ time+' min');
  let marks = $(this).data('marks'); // Get the value of data-id attribute
  $('.modal .marks').text('Total Questions- '+marks+' || Marks-' + marks);

  $('.modal').fadeToggle(0);
});

$(document).mousedown(function(event) {
  // Check if the target of the click event is not the modal element itself
  if (!$(event.target).closest(".modal").length &&
      !$(event.target).is('.Yes')) {
    $('.modal').fadeOut(100);
  }
});




let modalPoster = $('.modal-poster');
$(document).on('click', '.No', function() {
  modalPoster.fadeToggle(0);
});

$(document).mousedown(function(event) {
  // Check if the target of the click event is not the modal-poster element itself
  if (!$(event.target).closest(".modal-poster").length &&
      !$(event.target).is('.No')) {
    $('.modal-poster').fadeOut(100);
  }
});







document.addEventListener('DOMContentLoaded', function() {
  const freeExam = document.querySelector('.free-exam');
  

  const addClass = "" || "No"; // or "No"
const freeExams = document.querySelectorAll('.free-exam');
for (let i = 0; i < freeExams.length; i++) {
  const freeExam = freeExams[i];
  if (i === 0|| i=== 1) {

 const startButton = freeExam.querySelector('.startbutton');
  
    startButton.classList.add("Yes");
    const newSpan = document.createElement('span');
    newSpan.innerText = 'ফ্রি এক্সাম';
    freeExam.appendChild(newSpan);
    // Skip the first free-exam class
    continue;
  }
  const startButton = freeExam.querySelector('.startbutton');
  
    startButton.classList.add(addClass);
  
}

});



</script>