<%- include('../partials/header.ejs') %>

	<section class="top-nav">
		<div><h4><%= title %></h4></div>
	 
	 <img src="https://th.bing.com/th/id/R.23ca2f3fbf7e19a1e85cd9d556d5ffaf?rik=uoFjTlg8g%2bIkqw&pid=ImgRaw&r=0" id="top-nav-icon-issb">
	</section>



<br><br><br>

<section class="ppdt">
	<% content.forEach(function(data) { %>
	  <div class="ppdt_items">
		<div class="ppdt_practice">
		  <img class="blur" style="filter: blur(8px); transition: 0.2s; width: 100%" src="<%= data.image %>" alt="" class="ppdtimg">
		</div>
		<div class="ppdtcontrols">
		  <div class="start start-timer"><i class="fa-regular fa-circle-play"></i>&nbsp;&nbsp;Start</div>
		  <div class="start"><i class="fa-solid fa-stopwatch"></i>&nbsp;&nbsp; <span class="time">30 sec</span></div>
		  <div class="start ideaIcon"><i class="fa-regular fa-lightbulb"></i>&nbsp;&nbsp;Idea</div>
		</div>
		<div class="ppdtIdea">
		  <p><%= data.hint %></p>
		</div>
	  </div>
	<% }) %>
  </section>

<br><br><br>






<div id="floatingMenu">
	<ul><li><a href=""><i class="fa-regular fa-circle-play"></i>First Option jodi</a></li><li><a href=""><i class="fa-regular fa-circle-play"></i>Second Option</a></li>
	<li><a href=""><i class="fa-regular fa-circle-play"></i>Third Option</a></li></ul>
</div>

    <div id="menuicon">
        <i class="fa-solid fa-bars"></i>
    </div>

	

<%- include('../partials/bottom-nav.ejs') %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>





  
  
  <script>$(document).ready(function() {
	$(".start-timer").on("click", function() {
	  var parent = $(this).closest(".ppdt_items");
	  var countdown = parent.find(".time");
	  var timeLeft = 30;
	  var blur = parent.find(".blur");
  
	  if ($(this).text().includes("Start")) {
		$(this).html('<i class="fa-regular fa-circle-pause"></i>&nbsp;&nbsp;Stop');
		blur.css('filter', 'none');
		var countdownInterval = setInterval(function() {
		  timeLeft--;
		  countdown.text(timeLeft + " sec");
  
		  if (timeLeft <= 0) {
			clearInterval(countdownInterval);
			countdown.text("00 sec");
			parent.find(".start-timer").html('<i class="fa-regular fa-circle-play"></i>&nbsp;&nbsp;Start');
			blur.css('filter', 'blur(8px)');
		  }
		}, 1000);
  
		parent.data("countdownInterval", countdownInterval);
	  } else {
		clearInterval(parent.data("countdownInterval"));
		countdown.text("30 sec");
		$(this).html('<i class="fa-regular fa-circle-play"></i>&nbsp;&nbsp;Start');
		blur.css('filter', 'blur(8px)');
	  }
	});
  });
  
	$(document).ready(function() {
  $('.ideaIcon').click(function() {
    $(this).closest('.ppdt_items').find('.ppdtIdea').slideToggle();
  });
});
  </script>
  
  