<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1><%= practice_type %></h1>
    <h1><%= text_type %></h1>
    <% Object.keys(data[ text_type ]).forEach(modelTest => { %>
        <a href="/issb/practice?practice_type=<%= practice_type %>&type=<%= modelTest %>&text_type=<%= text_type %>"><p><%= modelTest %></p></a>  
    <% }) %>



</body>
</html>